/* General styles */

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url();
}

header {
    background-color: rgb(143, 179, 77);
    background-image: url ();
    margin-bottom: 40px;
}

.logo {
    font-family: cursive;
    font-size: 72px;
    color: rgb(20, 13, 77);
    text-align: center;
    letter-spacing: -3;
    margin: 0;
    padding: 20px 0 0 0;
}


/* Navigation menu */

header nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

header nav ul {
    display: flex;
    flex-direction: row;
    padding-bottom: 0;
}

header nav ul li {
    list-style-type: none;
}

header nav ul li a{
    color: rgb(56, 7, 7);
    text-decoration: none;
    padding: 0 20px 0 0;
    font-family: sans-serif;
}

header nav ul li a:hover {
    color: cyan
}


@media all and (min-width: 700px){
    header {
        display: flex;
        justify-content: space-between;
    }

    .logo {
        margin: 14px 0 14px 20px;
        padding-top: 0;
        font-size: 42px;
    }

    header nav {
        margin-top: 14px;
    }
}


/*  Primary groups */

main {
    padding: 20px 0
}

section {
    margin-bottom: 100px;
}

section.dark-background {
    background-color: darkgray;
    padding-top: 80px;
    padding-bottom: 80px;
    margin: 80px 0;
}

footer {
    background-color: darkred;
    background-image: url();
    margin-top: 40px;
    margin-bottom: 0;
}


/* Typography */

h1 {
    font-size: 26px;
    font-family: sans-serif;
    font-weight: 400;
    margin: 0 10px;
}

h2 {
    font-size: 26px;
    font-family: sans-serif;
    font-weight: 500;
}

p {
    font-family: sans-serif;
    line-height: 1.5em;
    margin-bottom: 0;
}

main a {
    font-weight: 700;
    text-decoration: none;
}

main a:link { color: #38786a;}
main a:visited { color: #38786a; }
main a:hover { color: purple; }
a:active { color: blue }

a:hover {
    text-decoration:underline;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

main img {
    width: 100%;
}

img.image-enhanced {
    border-radius: 8px;
}

.group {
    display: flex;
    flex-direction: column;
}

.item {
    flex: 1;
    margin: 10px;
}

.item-double {
    flex: 2;
}



/* (Desktop) Groups and items */

@media all and (min-width: 800px){

    section {
        padding: 0 10%;
    }
    .group {
        flex-direction: row;
    }
}

/* contact form */

form {
    padding-right: 8px;
}

form label {
    display: block;
}

form input,
form textarea {
    width: 100%;
    margin-bottom: 20px;
}

form textarea {
    height: 160px
}
